@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../images/xxx.jpg); /*Modify the name of your background image file (in the image folder)*/
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #3D6FAE;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

icon.svg{
	position:absolute;
	left:50%;
	margin-left: -128px;/*Modify to half the width of your SVG icon*/
	fill: #FFFFFF;
}

h1.center{
	text-align: center;
	color: white;
}

p.center_bottom{
	text-align: center;
	vertical-align: text-bottom;
	color: white;
}

.icon{
	text-align: center;
}

p.center{
	text-align: center;
}
 
button.biaph{
	background-color: deepskyblue;
	border: none;
	color: black;
	padding: 10px 24px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

button.biaph_center{
	background-color: deepskyblue;
	border: none;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

div.div_mainbtns{
	text-align: center;
}
